@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
  --menu-speed: 0.75s;
  /* --primary-color: rgba(24, 39, 51, 0.85)
  --overlay-color */
}


#button {
  background-color: Transparent;
  border-color: Transparent;
  cursor: pointer;
  font-family: 'Ubuntu';
  font-size: 2.5em;
  z-index: 5;
  position: absolute;
  right: 25px;
  bottom: 175px;
  font-weight: bold;
  color: pink;
  outline: none;
}

#aboutmebutton {
  background-color: Transparent;
  border-color: Transparent;
  cursor: pointer;
  line-height: 1.4;
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 1.5em;
}

video {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 80%;
  padding-top: 0;
  opacity: 0.5;
}

body {
  line-height: 1.4;
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  /* position: absolute; */
  /* display: flex; */
  /* min-height: 100vh;
  width: 100%;
  align-items: center; */
  /* z-index: 2; */
  color: #fff;
  height: 100vh;
}

.main:before {

}

.main:after{

}

header {
position: relative;
display: flex;
justify-content: space-between;
padding: 25px;
color: white;
background-color: Transparent;
}

.overlay {
  background-color: pink;
  background-blend-mode: overlay;
}

header img {
  width: 28px;
  background-color: Transparent;
}

p, h2 {
  padding-bottom: 10px;
}

p {
  font-size: 1.0rem;
  text-transform: lowercase;
}

.hi {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
}

/* header .menu {
position: relative;
 width: 60px;
 height: 60px;
}

.bar1 .bar3 .bar3 {
  padding: 0;
} */

.name{
  text-transform: uppercase;
}

.introduction {
  padding-left: 25px;
  padding-top: 20px;
  font-size: 1.5em;
  text-transform: uppercase;
  grid-gap: 1em;
}

.more {
  text-decoration: none;
  color: white;
  background-color: Transparent;
  border: 1px solid white;
  padding: 5px;
  font-size: 0.5em;
}

.introduction a:hover {
  letter-spacing: 12px;
  color: white;
  background-color: Transparent;
  border: 2px solid white;
}

footer{
  display: inline-grid;
  grid-template-columns: 1fr;
  margin-left: 25px;
}

footer img {
  width: 90px;
  bottom: 0px;
  padding-top: 75px;
  padding-right: 45px;

}

footer img:hover {
  transform: scale(1.2) translateY(-15px);
}


.video {
  display: block;
}

.menu-wrap {
  position: absolute;
  /* top: 0; */
  left: 0:auto;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 150px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 25px;
  z-index: 1;
  /* width: 35px;
  height: 20px; */
  padding: 1rem;
  background: transparent;
  /* opacity: 100%; */
  display: flex;
  align-items: left;
  justify-content: left;
}

.menu-wrap .hamburger > div {
  position: relative;
  /* width: 100%;
  height: 2px; */
  /* background-color: #fff; */
  display: flex;
  align-items: left;
  justify-content: center; */
  transition: all 0.4s ease;
}

.menu-wrap .hamburger > div:before
/* .menu-wrap .hamburger > div:after { */
{  content: 'More';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px; */
  background: inherit;
  justify-content: left;
  left: -40px;
}

.menu-wrap .hamburger > div:after {
  top: 10px;
}

.menu-wrap .toggler:checked + .hamburger > div {
  /* transform: rotate(170deg); */
left:56px;
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  /* transform: rotate(225deg); */
  left: -75px;


}

.menu-wrap .toggler:checked + .hamburger > div:before{
  /* position: absolute; */
  content: 'back';
  cursor: pointer;
  margin-left: 35px;
}

.menu-wrap .toggler:hover + .hamburger > div {
  /* transform: rotate(225deg); */
  letter-spacing: 15px;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: lightblue;
  opacity: 95%;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

#aboutme {
  display: flex;
  opacity: 0;
  height: 0;
  width: 0;
  border: 3px solid white;
  justify-content: center;
  align-items: center;
  transition-property: opacity, height, width;
  /* width: 650px;
  transition-timing-function: ease-in;  */
}

#aboutme.fade {
  opacity: 1;
  transition: 700ms ease-in-out;
  height: auto;
  width: 700px;
}
