@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* * {
  border: 1px solid #f00 !important;
} */
body {
  line-height: 1.4;
  position: relative;
  font-family: 'Ubuntu', sans-serif;
}

.pinkoverlay {
  background-blend-mode: overlay;
  background-color: pink;
  opacity: 80%;
}

#buttontoggle {
  background-color: Transparent;
  border-color: Transparent;
  bottom: 175px;
  color: #fadbde;
  cursor: pointer;
  font-family: 'Ubuntu';
  font-size: 2.5em;
  font-weight: bold;
  position: absolute;
  outline: none;
  right: 25px;
  z-index: 3;
}

video {
  height: 80%;
  object-fit: cover;
  opacity: 0.4;
  padding-top: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.main {
  color: white;
  height: 100vh;
}

header {
  padding: 25px;
}

header .hi {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

.introduction {
  font-size: 1.5em;
  padding-left: 25px;
  padding-top: 90px;
  padding-bottom: 60px;
  text-transform: uppercase;
}

.introduction a:hover {
  letter-spacing: 12px;
}

p, h2 {
  padding-bottom: 10px;
}

p {
  font-size: 1.0rem;
  text-transform: none;
}

.more {
  position: absolute;
}

.more .toggler {
  cursor: pointer;
  height: 40px;
  opacity: 0;
  position: absolute;
  width: 70px;
  z-index: 2;
}

.more .textmore{
  left: 25px;
  padding: 1rem;
  position: absolute;
  z-index: 1;
}

.more .textmore>div {
  position: relative;
}

.more .textmore>div:before {
  content: 'More';
  left: -40px;
  position: absolute;
  top: -10px;
}

.more .toggler:checked+.textmore>div {
  left: 56px;
}

.more .toggler:checked+.textmore>div:before {
  content: 'back';
  cursor: pointer;
}

.more .toggler:hover+.textmore>div {
  letter-spacing: 12px;
}

.more .menu {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
}

.more .menu>div {
  align-items: center;
  background: lightblue;
  border-radius: 50%;
  display: flex;
  flex: none;
  height: 200vw;
  justify-content: center;
  opacity: 95%;
  transform: scale(0);
  transition: all 0.4s ease;
  width: 200vw;
}

.more .menu>div>div {
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  text-align: center;
  transition: opacity 0.4s ease;
}

.more .menu>div>div>ul>li {
  list-style: none;
  padding: 1rem;
}

.more .menu>div>div>ul>li>a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.more .toggler:checked~.menu {
  visibility: visible;
}

.more .toggler:checked~.menu>div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.more .toggler:checked~.menu>div>div {
  opacity: 1;
}

#aboutmebutton {
  cursor: pointer;
  font-size: 1.5em;
}

#aboutme {
  border: 2px solid white;
  height: 0;
  justify-content: center;
  opacity: 0;
  transition-property: opacity, height, width;
  width: 0;
}

#aboutme.show {
  height: auto;
  opacity: 1;
  transition: 700ms ease-in-out;
  width: 700px;
}

.blackjack:hover {
  background-color: green;
  border: 2px solid red;
  border-radius: 10px;
  margin: auto;
  opacity: 0.8;
  width: 260px;
}

footer {
  margin-left: 25px;
}

footer img {
  bottom: 0px;
  padding-top: 75px;
  padding-right: 45px;
  width: 90px;
}

footer img:hover {
  transform: scale(1.2) translateY(-10px);
}

:root {
  --menu-speed: 0.75s;
}

@media screen and (max-width: 1250px) {
  #aboutmebutton {
    margin-left: 0px;
  }

.more .toggler:checked+.textmore>div:before {
    left: -125px;
    transform: rotate(90deg);
    transition: 500ms ease-in;
    letter-spacing: 5px;
  }

  #aboutme.show {
    width: 400px;
  }

  #buttontoggle {
    bottom: 40px;
    font-size: 2em;
  }

  video.display {
    visibility: visible;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

footer .grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media(max-width: 320px) {

body {
  font-size: 1.8em;
}
video {
  width: 500px;
}
footer {
  display: grid;
  padding-top: 40px;
}
#buttontoggle {
  position: absolute;
  z-index: -1;
  right: -140px;
  font-size: 1em;
  top: 740px;
}

.more .toggler:checked+.textmore>div:before {
  font-size: 0.5em;
  top: 10px;
  right: 75px;
  padding: 0;
}

#aboutmebutton {
  font-size: 0.9em;
}
div#aboutme.show{
position: relative;
  left: 0px;
  background-color: lightblue;
  opacity: 100px;
  width: 260px;
}

#aboutme p {
  font-size: 0.3em;
  overflow: scroll;
  object-fit: contain;
  align-content: center;
}
.more .toggler:checked~.menu>div {
  transform: scale(1.6);
  background-color: lightblue;
}
.blackjack {
  font-size: 0.6em;
}
.blackjack:hover {
  background-color: green;
  border: none;
  border-radius: none;
  margin: none;
  width: auto;
}
.toggler {
  left: -20px;
  top: 30px;
}
}

@media(max-width: 360px) {
video {
  width: 360px;
}

footer {
  margin: 0;
  padding: 0;
}

footer a {
display: grid;
width: 55px;
margin-left: 10px;
justify-content: left;
}
.grid {
  width: 325px;
}
#buttontoggle {
  left: 240px;
  z-index: 0;
}
div#aboutme.show{
position: relative;
  left: 0px;
  opacity: 100px;
  width: 290px;
  /* background-color: lightblue; */
}
.more .toggler:checked+.textmore>div:before {
  font-size: 0.7em;
  top: 10px;
  right: 75px;
  padding: 0;
}
.more .menu>div {
  width: 500vw;
  height: 1000vw;
}

html {
  border: 3px hotpink solid;
  border-radius: 10px;
  width: 100%;
}
}
